@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}


button {
  color: white;
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: center;
  cursor: pointer;
  display: flex;

  &.primary {
    background-color: rgb(104 120 255);
  }

  &.danger {
    background-color: #e52a2a;
  }

  &.info {
    background-color: #666;
  }

  &:active {
    opacity: .8;
  }

  &:disabled {
    background-color: #ccc;
  }
}

#popup {
  max-width: 500px;
  margin: auto;
  // min-width: 375px;
  padding: 30px 20px;
  text-align: center;
  overflow: auto;

  h2 {
    font-size: 25px;
    text-align: center;
  }
  
  #options__button {
    background: green;
  }

}

.header {
  display: inline-flex;
  align-items: center;
}

.logo {
  filter: none !important;
  width: 32px;
  margin-right: 4px;
}

.form {
  display: inline-flex;
  align-items: center;
  margin: 20px auto;
}

.input {
  width: 200px;
  height: 30px;
  padding: 10px 12px;
  margin-right: 12px;
  border-radius: 6px;
}

.messageContainer {
  width: 100%;
  padding: 12px 20px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  .messageTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;

    h3 {
      color: #e52a2a;
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  .messageText {
    width: 100%;
    text-align: left;
    overflow: auto;
  }
}

.infoContainer {
  background-color: white;
  .messageTitle h3 {
    color: #666
  }
}